[project]
	description = Struts Sample tag lib example
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/pramokuma
[access "refs/for/refs/*"]
	read = group user/pramokuma
	push = group user/pramokuma
	label-Code-Review = -2..+2 group user/pramokuma
	label-Verified = -1..+1 group user/pramokuma
	rebase = group user/pramokuma
	removeReviewer = group user/pramokuma
	submit = group user/pramokuma
[access "refs/heads/*"]
	read = group user/pramokuma
	create = group user/pramokuma
	push = +force group user/pramokuma
	pushMerge = group user/pramokuma
[access "refs/tags/*"]
	push = group user/pramokuma
	push = +force group user/pramokuma
[receive]
	requireSignedOffBy = false
	requireChangeId = true
	createNewChangeForAllNotInTarget = true
	rejectImplicitMerges = true
[submit]
	mergeContent = true
